.App {
}

.App__Header {
  width: 100%;
  text-align: center;
}

.App__Content {
  width: 100%;
}

.App__Gutter {
  display: inline-block;
  width: 30%;
}

.App__Main {
  display: inline-block;
  width: 69%;
  vertical-align: top;
}

.App__Task-Button {
  border: 1px solid black;
  cursor: pointer;
  min-width: 200px;
  padding: 8px 4px;
}
